<!DOCTYPE html>
<!--[if lt IE 7 ]><html <?php language_attributes(); ?> class="no-js ie ie6 lte7 lte8 lte9"><![endif]-->
<!--[if IE 7 ]><html <?php language_attributes(); ?> class="no-js ie ie7 lte7 lte8 lte9"><![endif]-->
<!--[if IE 8 ]><html <?php language_attributes(); ?> class="no-js ie ie8 lte8 lte9"><![endif]-->
<!--[if IE 9 ]><html <?php language_attributes(); ?> class="no-js ie ie9 lte9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html {{site.language_attributes}} class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="{{site.charset}}" />
		<title>{{wp_title}}</title>
		<link rel="profile" href="http://gmpg.org/xfn/11" />
		<link rel="stylesheet" href="{{site.theme.link}}/style.css" />
		<link rel="pingback" href="{{site.pingback_url}}" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{site.theme.link}}/static/js/jquery.cycle.min.js"></script>
		<script type="text/javascript" src="{{site.theme.link}}/static/js/eggs.js"></script>

		{{function('wp_head')}}

	</head>
	<body class="{{body_class}}">
		<div class="splats">
		<div id="main">
		<header role="banner" class="header-main">
			<h1 class="big-name"><a href="{{site.link}}" class="no-style" title="{{site.name}}" rel="home"><strong>Gemma</strong> Cooper-Novack</a></h1>
			<!--<p><?php bloginfo( 'description' ); ?></p>-->
		</header>
		<nav id="access" role="navigation" class="main-nav">
	  		<a href="#content" class="hidden" title="Skip to content">Skip to content</a>
			<div class="menu-header main-menu">
				<ul id="menu-main-menu" class="menu">
					{% for item in menu.get_items %}
						<li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-{{item.ID}}">
							<a href="{{item.link}}">{{item.name}}</a>
							{% if 'current-menu-item' in item.classes and post.blocks %}
								<ul class="sub-menu">
									{% for item in post.blocks %}
										<li class="sub-menu-item"><a href="#{{item.subhead|sanitize}}">{{item.subhead}}</a></li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>		
		</nav><!-- #access -->
		<section id="content" role="main" class="white-plate">
				{% block main %}
				<article id="post-{{post.ID}}" class="post-{{post.ID}}} {{post.post_type}} type-{{post.post_type}} status-{{post.post_status}} hentry areas-writer">
					{% include 'partials/testimonial-featured.twig' with {testimonial: post.featured_testimonial} %}
					<h1 class="entry-title">{{post.title}}</h1>
					{% if post.images|length > 1 %}
						<section class="cycler">
						{% for image in post.images %}
						
							<img class="cycle-image" src="{{ image.src|resize(610,300) }}" alt="{{image.caption|e}}">
						{% endfor %}
						</section>
						<div id="gallery-caption" class="lucida-text"></div>
					{% elseif post.images|length == 1 %}
						<div class="fimage">
							<img src="{{post.images[0].src|resize(610)}}">
							<p class="fcaption caption">{{post.images[0].caption}}</p>
						</div>
					{% endif %}
					<div class="oversize inside">
						{{ post.content }}
					</div>
					<div class="page-blocks">
					{% for item in post.blocks %}
						<h4 class="banner" id="{{item.subhead|sanitize}}">{{item.subhead}}</h4>
						<div class="content">
						{{item.content|wpautop}}
						</div>
					{% endfor %}
					</div>
					{% include 'partials/testimonials.twig' %}
					{% include 'partials/get-in-touch.twig' %}											
				</article><!-- #post-## -->
				{% endblock %}
		</section><!-- #main -->
		<footer role="contentinfo">

			
		</footer><!-- footer -->
		{{function('wp_footer') }}
			</div><!-- /#main -->
		</div><!-- /.splats -->
	</body>
</html>